{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@/(?!.*\\.scss$).*", "^\\./(?!.*\\.scss$).*", ".*(scss)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
